{% extends 'homesapp/base.html' %}
{% block body %}
<!DOCTYPE html>
<html>
<head>
     <style>
  #map {
    height: 100%;
  }
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
</style>

</head>
<body>
<div class="row">
<div class="col-md-1">
</div>
    <div class="col-md-3">
        <div class="thumbnail">
            <img src = "{{property.image_url}}" height="420" width="420">
        <div class="caption">
            <p> {{property.property_name}}</p>
             </div>
        </div>
    </div>


<div class="col-md-8">
    <div class="container">
        <div class="panel-group">
            <div class="panel panel-primary">
                <div class="panel-heading">Property Details</div>
                <div class="panel-body">
                    <table class="table">
                        <tbody>
                        <tr>
                            <td>
                                <label><b>Area Sqft. </b></label>
                            </td>
                            <td>
                                {{property.area}}
                            </td>
                        </tr>
                         <tr>
                            <td>
                                <label><b>Price </b></label>
                            </td>
                            <td>
                                {{property.price}}
                            </td>
                        </tr>
                         <tr>
                            <td>
                                <label><b>Age </b></label>
                            </td>
                            <td>
                                {{property.age}}
                            </td>
                        </tr>
                         <tr>
                            <td>
                                <label><b>Direction </b></label>
                            </td>
                            <td>
                                {{property.direction}}
                            </td>
                        </tr>
                         <tr>
                            <td>
                                <label><b>Address </b></label>
                            </td>
                            <td>
                                {{property.postadd}}
                            </td>
                        </tr>
                         <tr>
                            <td>
                                <label><b>No. of floors </b></label>
                            </td>
                            <td>
                                {{property.floor}}
                            </td>
                        </tr>

                        </tbody>
        </div>
    </div>
</div>
</div>
<!-- Map starts here-->
    <div class="col-md-8">
        <div class="thumbnail">
            <h3><strong> Location</strong> </h3>
             <div id="map"></div>
         <script>
            function initMap() {
  // The location of Uluru
        var uluru = {lat: -25.344, lng: 131.036};
      //     The map, centered at Uluru
         var map = new google.maps.Map(
        document.getElementById('map'), {zoom: 10,
        center: uluru
        });
  //The marker, positioned at Uluru
        var marker = new google.maps.Marker({
        position: uluru,
        map: map
        });
    }
    </script>
    <!--Load the API from the specified URL
    * The async attribute allows the browser to render the page while the API loads
    * The key parameter will contain your own API key (which is not needed for this tutorial)
    * The callback parameter executes the initMap() function
    -->
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD7PwH_mQJkNtkeQ3WjQaMorLnATmdvhKE&callback=initMap">
    </script>
        </div>
    </div>
    </body>
</html>
{% endblock %}